Telecall uses 4 centers around the globe to process customer order forms.
They audit a certain % of the customer order forms. Any error in order form
renders it defective and must be reworked before processing. The manager
wants to check whether the defective % varies by center. Please analyze
the data at 5% significance level and help the manager draw appropriate
inferences

In [1]:
# Importing libraries

import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [2]:
# Importing the dataset
dataset = pd.read_csv('C:/Users/vaibh/Desktop/360 Digitmg/Hypothesis Testing/Assignment/CustomerOrderform.csv')
dataset.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
# Dataset shape
dataset.shape

(315, 4)

In [4]:
# Checking for null values
dataset.isnull().sum()

Phillippines    15
Indonesia       15
Malta           15
India           15
dtype: int64

There are 15 null values

In [5]:
# Removing null rows
dataset.dropna(inplace=True)

In [6]:
dataset.shape # 15 rows removed

(300, 4)

In [7]:
# Checking for descriptive statistics
dataset.describe().T

             count unique         top freq
Phillippines   300      2  Error Free  271
Indonesia      300      2  Error Free  267
Malta          300      2  Error Free  269
India          300      2  Error Free  280

In [8]:
print(f'Phillippines : \n{dataset.Phillippines.value_counts()}\n') 
print(f'Indonesia : \n{dataset.Indonesia.value_counts()}\n')
print(f'Malta : \n{dataset.Malta.value_counts()}\n')
print(f'India : \n{dataset.India.value_counts()}')

Phillippines :
Error Free    271
Defective      29
Name: Phillippines, dtype: int64

Indonesia :
Error Free    267
Defective      33
Name: Indonesia, dtype: int64

Malta :
Error Free    269
Defective      31
Name: Malta, dtype: int64

India :
Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
data = [[271,267,269,280],
       [29,33,31,20]]

In [10]:
# Chi-Squared test

stats, p, dof, expected = scipy.stats.chi2_contingency(data)
stats, p , dof, expected

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [11]:
print (f'p-value : {p}')

p-value : 0.2771020991233135

H0 ---> The defective % are same 

Ha ---> The defective % are different

The p-value for the chi-squared test 0.277 is greater than the significance value of 0.05

Hence, we accept the null hypothesis

the defective % does not vary by center