# Data types

In [3]:
#Integer

print(1)

a = 15
print(type(a))

print(2+4)  #addition

print(12*3) # Multiplication

1
<class 'int'>
6
36

In [3]:
# Float

print(11.5)

x = 55.45

print(x)

type(x)

11.5
55.45

float

In [4]:
# Complex Number

print(2+3j)

type(2+3j)

(2+3j)

complex

In [5]:
# Boolean Type

type(True) ,type(False)

(bool, bool)

# Operators

## Arithmetic operators

In [6]:
#consider
a = 10
b = 20
a, b

(10, 20)

In [7]:
#Addition
a + b

30

In [59]:
#subtraction
a - b

-10

In [60]:
#Multiplication
a * b

200

In [61]:
#division 
a/b

0.5

In [62]:
#Floor divisions
a//b #it rounds the result(quotient) to nearest integer that is less than the result (0 <0.5)

0

In [63]:
#Remainders
b%a

0

In [64]:
#exponential
a**b

100000000000000000000

## Comparision Operator

In [65]:
#It gives in bool values

a == b , a != b, a > b

(False, True, False)

In [66]:
a < b, a >= b ,a <= b

(True, False, True)

## Assignment Operators

In [8]:
a = 10
b = 20
c = a+b

print(c)

c += b  #its nothing but c = c+b
c

30

50

In [68]:
c -= b
c

30

In [10]:
c *= b
print(c)
type(c)

20000

int

In [14]:

c /= b
print(c)
type(c)

0.0

float

In [13]:
c %= b
c

0.0

In [72]:
c **= b
c

1e+20

In [73]:
c //= b
c

5e+18

## bitwise operator

In [21]:
a = 60
b = 13

format(60,"0.2f") ,format(13,"b")

('60.00', '1101')

In [22]:
format(a,'b'),format(b,'b')

('111100', '1101')

In [79]:
#Binary And

a & b , format(a&b,'b')

(12, '1100')

In [81]:
#Binary Or

a|b, format(a|b,'b')

(61, '111101')

In [82]:
#Binary XOr

a^b, format(a^b,'b')

(49, '110001')

## Logical Operators

In [25]:
a=3 ; b=2; c=0
a & b
a | b

3

In [180]:
# Logical And -- All the values should be non zero in order to have non zero output
a=3 ; b=2; c=0

a and b, b and c

(2, 0)

In [181]:
# Logical OR -- Any one should be true in order to have non zero output
a=3 ; b=2; c=0

a or b, b or c

(3, 2)

## Membership Operators

In [83]:
# It will check that left value is a member of right value or not 

"y" in "Python" ,      "l" in "Python"

(True, False)

In [85]:
"p" in "Python" ,      "P" not in "python"

(False, True)

## Identity Operators

In [86]:
# It Check will check that left value is equal to the right value or not

"y" is "Python" ,    1 is 1 ,    2 is 1

(False, True, False)

In [87]:
"python" is "Python",   1 is 0

(False, False)

In [88]:
1 is not 1 ,        "hi hello"  is not   "hello hi"

(False, True)

# Data Structures

## Arrays/Vectors

In [182]:
#creating an array
from array import *       #Array is created in Python by importing array module to the python program.

array1 = array('i', [10,20,30,40,50])

for x in array1:
 print(x)

10
20
30
40
50

In [31]:
x=5
del x
x

NameError: name 'x' is not defined

In [72]:
# list1=[0,1,2,3]
# list2=['Zero','One','Two','Three']
# dict1={list1[i] : list2[i] for i in range(len(list1))}
# dict1.values()

# list1 = [3,4,5,6,7,8]
# for i in range(len(list1)):
#     if list1[i]%2==0:
#         list1[i] += 10
#     else:
#         list1[i] *= 5
# list2=list1
# list2

# name = str(input('Input Your Name: '))
# message = str(input('Input Your message: '))
# if len(message) == 0:
#     message = 'How are you ?'
# print('Hello {}, {}. '.format(name,message))

In [183]:
#insert operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1.insert(1,60) #inserting the data at specified location

for x in array1:
 print(x)

10
60
20
30
40
50

In [184]:
# Deletion operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1.remove(40) #deleting data we want

for x in array1:
 print(x)

10
20
30
50

In [185]:
# Update operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1[2] = 80 #updating

for x in array1:
 print(x)

10
20
80
40
50

## 2D Arrays

In [186]:
#Accessing Values in a Two Dimensional Array
#The data elements in two dimesnional arrays can be accessed using two indices. 
#One index referring to the main or parent array and another index referring to 
#the position of the data element in the inner array. 
#If we mention only one index then the entire inner array is printed for that index position.

from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]] # 2D array

print(T[0])

print(T[1][2])

[11, 12, 5, 2]
10

In [188]:
#Inserting Values in Two Dimensional Array
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

T.insert(2, [0,5,11,13,6]) #inserting at index=2

T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 2],
 [15, 6, 10],
 [0, 5, 11, 13, 6],
 [10, 8, 12, 5],
 [12, 15, 8, 6]]

In [189]:
#Updating Values in Two Dimensional Array
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

T[2] = [11,9] #updating element (row) at index=2
T[0][3] = 7 #updating element in first row, 4th column
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 7], [15, 6, 10], [11, 9], [12, 15, 8, 6]]

In [190]:
#Deleting the Values in Two Dimensional Array
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

del T[3] #deleting at index=3
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5]]

## Matrix
Matrix is a special case of two dimensional array where each data element is of strictly same size. So every matrix is also a two dimensional array but not vice versa. Matrices are very important data structures for many mathematical and scientific calculations.

In [191]:
#Matrix Example
from numpy import * 
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])
    
m = reshape(a,(7,5)) #dimentisions of matrix aka rows*columns
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [192]:
#Accessing Values in a Matrix
from numpy import * 
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])
    
# Print data for Wednesday
print(m[2])

# Print data for friday evening
print(m[4][3])

['Wed' '15' '21' '20' '19']
23

In [195]:
#Adding the data
from numpy import * 
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])
    
m_r = append(m,[['Avg',12,15,13,11]],0) #adding by using append at the end .(0-- row)
m_c = insert(m,[5],[[1],[2],[3],[4],[5],[6],[7]],1) #adding by using insert at required location .(1-- column)
#print(m)
print(m_r)
print('***********')
print(m_c)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '13' '11']]
***********
[['Mon' '18' '20' '22' '17' '1']
 ['Tue' '11' '18' '21' '18' '2']
 ['Wed' '15' '21' '20' '19' '3']
 ['Thu' '11' '20' '22' '21' '4']
 ['Fri' '18' '17' '23' '22' '5']
 ['Sat' '12' '22' '20' '18' '6']
 ['Sun' '13' '15' '19' '16' '7']]

In [196]:
#Delete from matrix
from numpy import * 
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])

print(m) #original matrix
print('********************')
    
m = delete(m,[2],0) #deleting row at index=2
print(m)
print('***********')
m = delete(m,[2],1) #deleting column at index=2
m

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]
********************
[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]
***********

array([['Mon', '18', '22', '17'],
       ['Tue', '11', '21', '18'],
       ['Thu', '11', '22', '21'],
       ['Fri', '18', '23', '22'],
       ['Sat', '12', '20', '18'],
       ['Sun', '13', '19', '16']], dtype='<U3')

## Lists

In [198]:
###############################   List   ################################

# A list data type is given in square brackets and each element is separated by comma.
 
list1 = ['Nikhil', '360DigiTMG', 2013, 2018]
list1

['Nikhil', '360DigiTMG', 2013, 2018]

In [199]:
#Access values in the variable using index numbers
  
print(list1[0])

print(list1[3])

print(list1[:4])

Nikhil
2018
['Nikhil', '360DigiTMG', 2013, 2018]

In [200]:
#functions in list data type

# Append : add  new element to the existing list

aList = [123, 'xyz', 'zara', 'abc'];
aList.append( 2009 );
print(aList)

[123, 'xyz', 'zara', 'abc', 2009]

In [201]:
#Pop : remove the elment from existing list
print (aList.pop())

2009

In [202]:
# pop the element using index number
print (aList.pop(0))

123

In [203]:
#Insert: insert a value using index number 
aList = [123, 'xyz', 'tommy', 'abc', 123]
aList.insert( 3, 2009)
print (aList)

[123, 'xyz', 'tommy', 2009, 'abc', 123]

In [204]:
#Extend: extend the two list one after another 
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']
aList.extend(bList)
bList.extend(aList)
aList, bList

([123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli'],
 [2009, 'beneli', 123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli'])

In [205]:
#Reverse: to reverse the given list 
aList = [123, 'xyz', 'tommy', 'abc', 342]
aList.reverse()
print(aList)

[342, 'abc', 'tommy', 'xyz', 123]

In [206]:
#Sort: sort the given list from ascending or descending

blist = [8,99,45,33]
blist.sort(reverse=True)
print(blist)

[99, 45, 33, 8]

In [207]:
#count: count the value in given list of elements

aList = [123, 'xyz', 'zara', 'abc', 123, "zara"]
print(aList.count("zara"))

2

## Tuples

In [208]:
##################################### Tuples ####################################


## Create a tuple dataset
tup1 = ('Street triple','Detona','Beneli', 8055)
tup2 = (1, 2, 3, 4, 5 )
print(tup1)
print(tup2)

### Create a empty tuple 
tup1 = ()
print(tup1)

#Create a single tuple
tup1 = (50,)
tup1

('Street triple', 'Detona', 'Beneli', 8055)
(1, 2, 3, 4, 5)
()

(50,)

In [209]:
#Accessing Values in Tuples

tup1 = ('Street triple','Detona','Beneli', 8055)
print(tup1[0])

tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup2[1:5])

Street triple
(2, 3, 4, 5)

In [210]:
#Updating Tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# So,create a new tuple as follows
tup1 = tup1 + tup2
print(tup1)

(12, 34.56, 'abc', 'xyz')

In [211]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)
print(tup)

('Street triple', 'Detona', 'Beneli', 8055)

In [212]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)
del tup[1] # We cannot delete individual items of tuple as it is immutable.
print(tup)

TypeError: 'tuple' object doesn't support item deletion

In [213]:
# to delete the given tuple 
del(tup)

## Sets

In [214]:
# Sets and Frozen Sets
# A normal Set
normal_set = set(["a", "b","c"]) 
normal_set.add("d") 
  
print("Normal Set") 
print(normal_set)

Normal Set
{'b', 'a', 'd', 'c'}

In [215]:
# A frozen set 
frozen_set = frozenset(["e", "f", "g"]) 
  
print("Frozen Set") 
print(frozen_set)

Frozen Set
frozenset({'f', 'g', 'e'})

In [216]:
# adding a member to set in frozen set and should throw an error
frozen_set.add("h")

AttributeError: 'frozenset' object has no attribute 'add'

In [217]:
# Set Operations 

# Let us create sets 
set1 = set() # Null Set
set2 = set() # Null Set
print(set1,set2)

# Adding elements to set1 
for i in range(1, 10): 
    set1.add(i) 

set1

set() set()

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [218]:
#Adding elements to set2

for i in range(3, 10): 
    set2.add(i) 
set2

{3, 4, 5, 6, 7, 8, 9}

In [219]:
# Union of set1 and set2 
# Uninon shows all the values in set1 ans set2
set3 = set1 | set2 # set1.union(set2) 
print("Union of Set1 & Set2: Set3 = ", set3) 

# Intersection of set1 and set2 
# Intersection shows common values in set1 and set2 
set4 = set1 & set2# set1.intersection(set2) 
print("Intersection of Set1 & Set2: Set4 = ", set4)

Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection of Set1 & Set2: Set4 =  {3, 4, 5, 6, 7, 8, 9}

In [220]:
# Lets us check is there any relationship between set3 and set4
# Checking relation between set3 and set4 
if set3 > set4: # set3.issuperset(set4) 
    print("Set3 is superset of Set4") 
elif set3 < set4: # set3.issubset(set4) 
    print("Set3 is subset of Set4") 
else : # set3 == set4 
    print("Set3 is same as Set4")

Set3 is superset of Set4

In [221]:
# displaying relation between set4 and set3 
if set4 < set3: # set4.issubset(set3) 
    print("\n")
    print("Set4 is subset of Set3") 
    print("\n")

Set4 is subset of Set3

In [222]:
# difference between set3 and set4 
set5 = set3 - set4 
print("Elements in Set3 and not in Set4: Set5 = ", set5) 
print("\n")

Elements in Set3 and not in Set4: Set5 =  {1, 2}

In [223]:
# checkv if set4 and set5 are disjoint sets 
if set4.isdisjoint(set5): 
    print("Set4 and Set5 have nothing in common\n")

Set4 and Set5 have nothing in common

In [224]:
# Removing all the values of set5 
set5.clear() 
  
print("After applying clear on sets Set5: ") 
print("Set5 = ", set5)

After applying clear on sets Set5:
Set5 =  set()

## Strings

In [6]:
#######Strings###############


#Accesing Value in Strings   
Name = "Aditya"
  
print(Name[0])

print(Name[3])

print(Name[1:4])

print(Name[-2])

print(Name[-3:-1])

A
t
dit
y
ty

In [7]:
#Update Strings    
var = 'Hello World!  '
print ("Updated String :- ", var + 'Python')
print ("Updated String :- ", var[:6] + 'Python')

Updated String :-  Hello World!  Python
Updated String :-  Hello Python

In [8]:
# String Formating 
print("My name is  %sand weight is %d kgs!" % ('Nikhil', 65))

My name is  Nikhiland weight is 65 kgs!

In [9]:
#Ex :1 

Name = input("Enter your name: ")
Weight = eval(input("Enter your Weight: "))
print("My name is %s and my Weight is %d"%(Name,Weight))

type(Weight)

Enter your name: aaa
Enter your Weight: 55
My name is aaa and my Weight is 55

int

In [11]:
#Triple Quotes


# my name is 'nikhil' and my age is '25'

Statement = """my name is "nikhil" and my age is "25"."""
type(Statement)

str

In [13]:
Name = "nikhil"
print(type(Name))

# To make first letter capital
print(Name.capitalize())
print(Name.upper())

<class 'str'>
Nikhil
NIKHIL

In [14]:
# To make string at center in given spaces
Name.center(50)

'                      nikhil                      '

In [15]:
#count() method returns the number of occurrences of the substring in the given string.
string = "nikhil is trainer"

substring = "i"

count = string.count(substring)
count

print("The count is:", count)

The count is: 4

In [16]:
#Count number of occurrences of a given substring using start and end
# define string
string = "nikhil is trainer"
substring = "i"

# count after first 'i' and before the last 'i'
count = string.count(substring, 8, 25)
count
# print count
print("The count is:", count)

The count is: 1

In [17]:
##Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

Num = 'thishi34';  # No space in this string
type(Num)
print(Num.isalnum())

Num = "this is string examplehi!!!";
Num.isalnum()

True

False

In [20]:
#This method returns true if all characters in the string are alphabetic and there is at least one character, false otherwise.
Num = "thisis";  # No space & digit in this string
print(Num.isalpha())

Num = "this is string example0909090!!!";
Num.isalpha()

True

False

In [21]:
#This method returns true if all characters in the string are digits and there is at least one character, false otherwise.

Num = "123456";  # Only digit in this string
print(type(Num))
print(Num.isdigit())

Num = "this is string example!!!";
Num.isdigit()

<class 'str'>
True

False

In [22]:
#his method returns a copy of the string in which all case-based characters have been lowercased.
Num = "THIS IS STRING EXAMPLE!!!";
A = Num.lower()
A

'this is string example!!!'

In [23]:
#This method returns a copy of the string in which all case-based characters have been Uppercase.
Num = "this is string example!!!";

Num.upper()

'THIS IS STRING EXAMPLE!!!'

In [24]:
#The following example shows the usage of replace() method.

reply = "it is string example!!! is really a string is is is is "
print(reply.replace("is", "was"))
print(reply.replace("is", "was", 3))

it was string example!!! was really a string was was was was
it was string example!!! was really a string was is is is

In [25]:
#The following example shows the usage of split() method.
split1 = "Line1-abcdef \nLine2-abc \nLine3-abcd";
print(split1.split( ))
print(split1.split(' ', 1 ))

['Line1-abcdef', 'Line2-abc', 'Line3-abcd']
['Line1-abcdef', '\nLine2-abc \nLine3-abcd']

['Line1-abcdef', 'Line2-abc', 'Line3-abcd']

## Dictionary

In [51]:
#Accessing Values in Dictionary
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}
print(dict1)
print(dict1['Name'])
print(dict1['Age'])

{'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}
Nikhil
25

In [52]:
##Updating Dictionary
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

# update existing entry
dict1['Age'] = 27
# Add new entry
dict1

{'Name': 'Nikhil', 'Age': 27, 'bike': 'Beneli'}

In [53]:
dict1['School'] = "DPS School"
dict1['sal'] = 50000

dict1

{'Name': 'Nikhil',
 'Age': 27,
 'bike': 'Beneli',
 'School': 'DPS School',
 'sal': 50000}

In [54]:
#Delete Dictionary Elements
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

# remove entry with key 'Name'
del(dict1['Name'])
dict1

{'Age': 25, 'bike': 'Beneli'}

In [55]:
# remove all entries in given dictionary
dict1.clear()
dict1

{}

In [56]:
# delete entire dictionary
del(dict1) ;       
dict1

NameError: name 'dict1' is not defined

# Conditional Statements

In [90]:
# ################################## Conditional Statement ##############################################

# Example:1 - simple if and else conditions when you have  two  conditions
is_male = True

if is_male:
    print("you are male")
else:
    print("you are female")

you are male

In [91]:
# Example: 2 - if you have more than two condition use elif 
is_male = True
is_tall = False 

if is_male and is_tall:              ## and & not operator 
    print("you are tall male")
elif is_male and not(is_tall):
    print("you are short male")
elif not(is_male) and is_tall:
    print("you are not male but tall")
else:
    print("you are not male and not tall")

you are short male

In [92]:
#Example:  3 - conditional inside a conditional 
### Nested if Statement

score = 500
money = 2000
age = 65

if score > 100:
    print("You got good points")
    
    if money >= 5000:
        print("you win")
        
        if age >= 30:
            print("You win in middle age")
        else:
            print("You are win in young age")
    else:
        print("you have a high points but you do not have enough money")
        
else:
    print("your loser")

You got good points
you have a high points but you do not have enough money

# Loops

In [102]:
############################################# Loops ##########################################################

# There are two loops pre-loop and post-loop: pre-loop - checking the condition and calculating next, post-loop  calculating first and checking the condition
# There are two types of loops - infinite loop and finite loop, infinite loop is called while loop and finite loop is called  for loop

## While Loop

In [103]:
# While Loop

#Example for 'While loop'

import random 

n = 20

random_number = int(n * random.random())

guess = 0

while guess != random_number:
    guess = int(input("New Number: "))
    if guess > 0:
        if guess > random_number:
            print("number is too large")
        elif guess < random_number:
            print("number is too small")
    else:
        print("sorry that you are giveup!")
        break
else:
    print("Congratulations. YOU WON!")

New Number: 5
number is too small
New Number: 55
number is too large
New Number: 25
number is too large
New Number: -1
sorry that you are giveup!

## While-else
### If the else statement is used with a while loop, the else statement is executed when the condition becomes false.

In [225]:

count = 0
while count < 5:
   print (count, " is  less than 5")
   count = count + 1
else:
   print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

## for loop

In [104]:
# for Loop
    
#Example for 'for loop' 

#Example : 1
    
snacks = ['pizza','burger','shawarma','franky']

for snack in snacks:
    print("current snack: ", snack)
    
print("Good day!")

current snack:  pizza
current snack:  burger
current snack:  shawarma
current snack:  franky
Good day!

In [105]:
#Example: 2

num = int(input("number: "))
factorial =1 

if num < 0:
    print("must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):
        factorial = factorial * i
    print("factorial =  " ,factorial)

number: 5
factorial =   120

## For-else
### If the else statement is used with a for loop, the else block is executed only if for loops terminates normally (and not by encountering break statement)

In [ ]:
#example
numbers = [11,33,55,39,55,75,37,21,23,41,13]

for num in numbers:
   if num%2 == 0:
      print ('the list contains an even number')
      break
else:
   print ('the list doesnot contain even number')

## Iterators
Iterator is an object which allows a programmer to traverse through all the elements of a collection, regardless of its specific implementation.

In [226]:
iterable_value = 'Machine Learning'
iterable_obj = iter(iterable_value) 
  
while True: 
    try: 
  
        # Iterate by calling next 
        item = next(iterable_obj) 
        print(item) 
    except StopIteration: 
  
        # exception will happen when iteration will over 
        break

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

## Generator
A generator is a function that produces or yields a sequence of values using yield method.

When a generator function is called, it returns a generator object without even beginning execution of the function. When the next() method is called for the first time, the function starts executing until it reaches the yield statement, which returns the yielded value. The yield keeps track i.e. remembers the last execution and the second next() call continues from previous value.

In [227]:
# A simple generator for Fibonacci Numbers 
def fib(limit): 
      
    # Initialize first two Fibonacci Numbers  
    a, b = 0, 1
  
    # One by one yield next Fibonacci Number 
    while a < limit: 
        yield a 
        a, b = b, a + b 

#create a generator object 
x = fib(5) 
  
# Iterating over the generator object using next 
while True:
   try:
      print (next(x), end="\n")
   except StopIteration:
      break

0
1
1
2
3

# Functions

In [115]:
############################### define function ##################################################

#Example for advantage of functions 
    
#Imagine there are 1000 of code is created based on requirement without using functions 
# If same requirement is repeated in the same code as given below with reference of line numbers
print("Hello Function.nikhil?") #10
print("Hello Function.nikhil?")#14
print("Hello Function.nikhil?")#40
print("Hello Function.nikhil?")#67

Hello Function.nikhil?
Hello Function.nikhil?
Hello Function.nikhil?
Hello Function.nikhil?

In [233]:
#how to create function? 
def hello_func():
    print("Hello Function.nikhil")

#call the function as and when required than writing whole code again 
hello_func()#10
hello_func()#14
hello_func()#40
hello_func()#67

#Advantages about functions - optimize code, good performance, fast, easy to access etc

Hello Function.nikhil
Hello Function.nikhil
Hello Function.nikhil
Hello Function.nikhil

In [234]:
#simple function 
def hello(name,age,sal):                 
    print("hi",name,"your age:",age,"your salary:",sal)

hello("Nikhil",25,50000)

hi Nikhil your age: 25 your salary: 50000

In [228]:
# formal and actual arguments #

# function defination #
def add(a,b):
    return a+b
# funtion call#
add(2,3)
#Formal arguments are identifiers used in the function definition to represent corresponding actual arguments.
#actual arguments are values(or variables)/expressions that are used inside the parentheses of a function call.

5

In [229]:
# positional arguments #

def rectangleArea(width, height):
    return width * height

print (rectangleArea(width=1, height=2))

#A positional argument is a name that is not followed by an equal sign (=) and default value.

2

In [230]:
# keyword arguments #
# in this argument key= value syntax
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

# in this keys are child1,child2,child3
#The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

The youngest child is Linus

In [231]:
# variable arguments
# *args for variable number of arguments 
def myFun(*argv):  
    for arg in argv:  
        print (arg) 
    
myFun('Hello', 'Welcome', 'to', '360degreedigitmg')  


#First argument through *argv : Hello
#Next argument through *argv : Welcome
#Next argument through *argv : to
#Next argument through *argv : GeeksforGeeks

Hello
Welcome
to
360degreedigitmg

In [232]:
#Using **kwargs to pass the variable keyword arguments to the function 
# in this function kwargs=data
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [119]:
#cube of n value 
def cube(num):                  
    return (num*num*num)

cube(3)

27

In [120]:
# not defined any value but just defined function 
def hello_func():              
    pass

## Function call stack
### locals(), globals()

In [236]:
age = 23 #Age Global variable
name = "Somesh" # Name Global Variable
places = ["Nagpur", "Mumbai", "Pune"] #Places Global Variable

def local(): #Function declaration  
    age = 1 #Age Local Variable
    name = 'Aayush' # Name Local Variable
    print("%s is %i years old and lives in %s." % (name, age,places[0])) #Function Definition for Local Variable
    #In the Above line of code name and age variables are Local and place is Global Variable 
    return

local() #Function call Local() Variables
print("%s is %i years old and lives in %s." % (name, age,places[2])) #Calling Definition for Global Variable
#In the Above line of code name,age and place is Global Variable

Aayush is 1 years old and lives in Nagpur.
Somesh is 23 years old and lives in Pune.

# Modules

In [106]:
################ Modules ######################

# Modules are also called as packages 
# how to call package is : Import package_name
    
#Example:1

#maths related package
import math

math.sqrt(16) ,math.pow(2,5)

(4.0, 32.0)

In [107]:
#Example:2

#calendar related package 
import calendar 

cal = calendar.month(2018,1)

print(cal)


calendar.isleap(2018) , calendar.isleap(2020)

    January 2018
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

(False, True)

### how to create own module?

In [ ]:

# create a new python file "find_area.py"with different fuctions as given below
#
#def cal_area_triangle(length,hight):
#    return 1/2*length*hight

#def cal_area_sqr(length):
#    return length*length


#def cal_area_rec(leng,bth):
#    return leng*bth

#def cal_area_cir(r):
#    return 3.14*r*r

#Please find above code in different python file

### Importing function from another file

In [112]:
#to give path for the module
import sys
sys.path.append("E:\\360 Digitmg\\Python Agenda\\pythoncodes")

#call module and use functions
import find_area as f

area = f.cal_area_sqr(5)
print(area)

25

In [114]:
area = f.cal_area_triangle(5,10)
print(area)

25.0

In [238]:
# 1. Importing from folder 
#There are generally two types of import syntax. When you use the first one, you import the resource directly, like this:
"import abc"  #abc can be a package or a module.
import math

#When you use the second syntax, you import the resource from another package or module. Heres an example:
"from abc import xyz " #xyz can be a module, subpackage, or object, such as a class or function.
from math import cos

#You can also choose to rename an imported resource, like so:
"import abc as Other_name"
import math as m

###  Folders vs Packages

In [239]:

# 1. A module is a file containing Python code. A package, however, is like a directory that holds sub-packages and modules.
# 2. A package must hold the file __init__.py. This does not apply to modules.
# 3. To import everything from a module, we use the wildcard *. But this does not work with packages.

### Namespaces

In [242]:


#import this #run this in the console window for a fun read about how interesting Namespaces are

#what is a Name? 
#Name (also called identifier) is simply a name given to objects. 
#Everything in Python is an object. Name is a way to access the underlying object.
# For example, when we do the assignment a = 2, 2 is an object stored in memory and a is the name we associate it with.

 
###  __all__

In [243]:

#__all__ or all()

#The all() method returns True when all elements in the given iterable are true. If not, it returns False.

#The syntax of all() method is:
# all(iterable)

#all() Parameters
#all() method takes a single parameter:

#iterable - any iterable (list, tuple, dictionary, etc.) which contains the elements.

#How all() works for lists?

# all values true
l = [1, 3, 4, 5]
print(all(l))

True

In [244]:
#How all() works for dictionaries

s = {0: 'False', 1: 'False'}
print(all(s))

s = {1: 'True', 2: 'True'}
print(all(s))

s = {1: 'True', False: 0}
print(all(s))

{0: 'False', 1: 'False'}
{1: 'True', 2: 'True'}
{1: 'True', False: 0}

### __init__.py

In [246]:
#__init__.py



"""
The __init__.py files are required to make Python treat the directories as containing packages;
this is done to prevent directories with a common name, such as string, 
from unintentionally hiding valid modules that occur later on the module search path. 
In the simplest case, __init__.py can just be an empty file, 
but it can also execute initialization code for the package or set the __all__ variable.
 """

from math import sin

#The above code ensures that the imported functions are available in the package's modules 
#when it is imported as it is defined in the __init__.py file.

In [247]:
#import *
from math import *
# it ensures that everything that are present in math is imported and ready to use

### Recursive Import

In [249]:
# WE define 2 modules a and b.. such that both will import one in other.. a import b and b import a.

#b.py
'''
print ("b in")
import a
print ("b out")
x = 3
'''

#a.py:

print ("a in")
import sys
print ("b imported: %s" % ("b" in sys.modules, ))
import b
print ("a out")

a in
b imported: False
b in
a in
b imported: True
a out
b out
a out

# File Handling

In [250]:
# file handling #
# the open function takes two parameters filename and model #

# there are 4 different methods for opening a file #
# "r" - reads a default value
# "a" - opens the file for append  and creates a file if it doesnot exist
#"w"-write- opens a file for writing
#"x"- creates a file 

# syntax #
# to open a file or read a file 

f = open("demofile.txt") 
f

In [251]:
# open files from different location #
f = open("D:/demofile.txt", "r")
print(f.read()) # reads content in the file

this file is for testing purposesNow the file has more content!Now the file has more content!Now the file has more content!Now the file has more content!Now the file has more content!

In [252]:
f = open("demofile.txt") 
f.read(5) #reads first 5 characters

'this '

In [253]:
# write to an existing file #
f = open("demofile.txt", "a")
f.write("Now the file has more content!")
f.close()

f = open("demofile.txt", "r")
f.read() #observe one extra line is added

'this file is for testing purposesNow the file has more content!Now the file has more content!Now the file has more content!Now the file has more content!Now the file has more content!Now the file has more content!'

In [259]:
# creating a new file #
f = open("D:/myfile1.txt", "x")
f.write(' New file')
f.close()
f=open('D:/myfile1.txt','r')
f.read()
f.close()

In [260]:
#Delete a File
#To delete a file, you must import the OS module, and run its os.remove() function:
import os
os.remove("D:/myfile1.txt")

# Exception Handling

In [175]:
# try: and except: are key words for exceptional handling, try: provide the code ; except: except the error with a proper statement

#Ex - 1:
try:
    x = eval(input("enter the 1st value = "))
    y = eval(input("enter the 2nd value = "))
    results = x+y
    print(results)
except:
    print("please enter a valid number")

enter the 1st value = 2
enter the 2nd value = 3
5

In [176]:
#Ex - 2: 
try:
    x = eval(input("enter the 1st value = "))
    y = eval(input("enter the 2nd value = "))
    results = x/y
    print("final results = ", results)
except(ZeroDivisionError):
    print("please enter a non-zero value for the divisor")
except(NameError):
    print("Please enter valid number")
except(TypeError):
    print("Please enter both same type")

enter the 1st value = 2
enter the 2nd value = 0
please enter a non-zero value for the divisor

In [261]:
##In Python, keywords else and finally can also be used along with the try and except clauses. While the except block is executed
##if the exception occurs inside the try block, the else block gets processed if the try block is found to be exception free.
try:
    print("try block")
    x=int(input('Enter a number: '))
    y=int(input('Enter another number: '))
    z=x/y
except ZeroDivisionError:
    print("except ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("else block")
    print("Division = ", z)
finally:
    print("finally block")
    x=0
    y=0
print ("Out of try, except, else and finally blocks." )

try block
Enter a number: 2
Enter another number: 5
else block
Division =  0.4
finally block
Out of try, except, else and finally blocks.

### Built-in Exceptions

In [262]:
## There are plenty of built-in exceptions in Python that are raised when corresponding errors occur. 
##We can view all the built-in exceptions using the built-in local() function as follows:
print(dir(locals()['__builtins__']))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

### USer defined Exceptions

In [264]:
# User defined Exceptions
x=int(input('enter the number'))
if x < 0:
  raise Exception("Sorry, please enter positive number")
else:
    print('you entered',x)

enter the number3
you entered 3

# Regular Expressions

In [121]:
#Ex:1  
import re

Nameage = '''Nikhil is 25 and Pavan is 28 and Kaleem is 35 and Ganesh is 16'''

age = re.findall(r'\d{1,3}',Nameage)
names = re.findall(r'[A-Z][a-z]*',Nameage)

agedict = {}

x = 0

for eachname in names:
     agedict[eachname] = age[x]
     x +=1
     
print(agedict)

{'Nikhil': '25', 'Pavan': '28', 'Kaleem': '35', 'Ganesh': '16'}

In [122]:
#Ex:2

import re

allname = re.findall("name","My name is Nikhil and what is your name")

for name in allname:
    print(name)

name
name

In [123]:
#Ex 3
        
import re

allname = "My name is Nikhil and what is your name"   

for i in re.finditer("name",allname):
    loctup = i.span()
    print(loctup)

(3, 7)
(35, 39)

In [124]:
#Ex: 4 Find match pattern
    
import re

names = "Aam,Bam,Sam,Ram,Mam,Jam"

allnames = re.findall("[A-Z]am",names) 

for i in allnames:
    
    print(i)

Aam
Bam
Sam
Ram
Mam
Jam

In [125]:
#Replace string 

import re 

names = "Sam,Ram,Mam,Jam"

regex =  re.compile("[R]am")  

names = regex.sub("Rama",names)

print(names)

Sam,Rama,Mam,Jam

In [126]:
## dividing num,alpha,special char
import re

re.sub("[A-Za-z]",",","ada 1231zxdq #@$@zxfsd312")

',,, 1231,,,, #@$@,,,,,312'

In [127]:
re.sub("[^A-Za-z]"," ","ada 1231zxdq #@$@zxfsd312")

'ada     zxdq     zxfsd   '

In [129]:
## Remove white space

randstr = ''' 
My 
name 
is 
nikhil
'''
print(randstr)
regex = re.compile("\n")

randstr = regex.sub("",randstr)

print(randstr)

My
name
is
nikhil

 My name is nikhil

In [268]:
## Number

import re

randstr = "12345"

print(len(re.findall("\d",randstr)))

print(re.search(r"\d{3}",randstr))

5
<re.Match object; span=(0, 3), match='123'>

In [267]:
num = "123 1234 12345 123456 1234567"

print(len(re.findall("\d{5,7}",num))) #gives max frequency in the given numbers

3

In [132]:
## Phone number verification 

import re

#\w [a-zA-Z0-9]
#\w [^a-zA-Z0-9]


phn = "4669-5549-AA1212hhwjjwkq3"

if re.search("\d{3}-\d{3}-\w{6}",phn):
    
    print("it is a Pan No.")
    
else:
    print("its not a Pan No.")

its not a Pan No.

In [133]:
#Email Match 
    
import re

email = "nk@hyd.com md@.com @llo.com j@com"

print("EmailMatches:", (re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",email)))

EmailMatches: ['nk@hyd.com md']

# Classes and Objects

In [134]:
#Object

x = 10 # x is an object and strong the value of 10

In [135]:
#Class
#bike is a class and will multiple objects in a class, as example followes    

class bike:
    
    def __init__(self,MPG,Speed,length,b):
        self.MPG = MPG
        self.Speed = Speed
        self.length = length
        self.b = b
    def get_MPG(self):
        print(self.MPG)
    
    def area(self):
        return self.length*self.b
    
    def config(self):
        print("1000cc,abs")
    def speed(self):
        print("Top Speed is 250KMPS")

In [146]:
comp1 = bike(55,200,1,0.5)  #once we create class we have to save in a constructor so, comp1 is a constructor 

# using below functions we can call different objects from a class 
comp1.config()

1000cc,abs

In [145]:
comp1.get_MPG()

55

# Inheritance

In [147]:
#What is Inheritance?
#Inheritance is a powerful feature in object oriented programming.
#Single level, Multi-level, Multiple Inheritance

In [151]:
#Ex: Normal class definition
class A:
    def product1(self):
        print("print product name1: ")
    
    
    def product2(self):
        print("print product name2: ")
        
    
name_a = A() 
     
print(id(name_a))
name_a.product1()

1878247663712
print product name1:

In [152]:
# Inheritance.. A is super class and B is sub class

class B(A):
    def product3(self):
        print("print product name3: ")
    def product4(self):
        print("print product name4: ")
        
name_b = B() 
print(id(name_b))
name_b.product3() #function in the sub class

1878247664104
print product name3:

In [153]:
name_b.product1() #function in the super class accessed with the sub class object

print product name1:

In [269]:
class C():
    def product5(self):
        print("print product name5: ")
    def product6(self):
        print("print product name6: ")
        
name_c = C()

In [270]:
# Multiple Inheritance
class D(A,C):
    def product7(self):
        print("Print product name7: ")
    def product8(self):
        print("Print Product name8: ")

name_d = D()

In [157]:
name_d.product1() #super class function accessed by sub class

print product name1:

# Polymorphism

In [158]:
#What is Polymorphism
#Polymorphism means that different types respond to the same function. Polymorphism is very useful as it makes 
#programming more intuitive and therefore easier.

In [271]:
class Bird: 
    def intro(self):
        print("There are many types of birds.") 

    def flight(self): 
        print("Most of the birds can fly but some cannot.")

In [272]:
class sparrow(Bird): 
    def flight(self): 
        print("Sparrows can fly.") 

class ostrich(Bird): 
    def flight(self):
        print("Ostriches cannot fly.") 
        
# different classses implimenting same method

In [273]:
# Creating instances of respective classes
obj_bird = Bird() 
obj_spr = sparrow() 
obj_ost = ostrich()

In [164]:
obj_bird.flight() #

Most of the birds can fly but some cannot.

In [165]:
obj_spr.flight()

Sparrows can fly.

In [166]:
obj_ost.flight()

Ostriches cannot fly.

# Multi Threding

In [167]:
#Multi Threding
#----multithreading using sum of square---#
import time

def calc_square(numbers):
    print("calculate square numbers")
    for n in numbers:
        time.sleep(0.2)
        print('square:',n*n)

def calc_cube(numbers):
    print("calculate cube of numbers")
    for n in numbers:
        time.sleep(0.2)
        print('cube:',n*n*n)

In [168]:
arr = [2,5,7,9]

t = time.time()        
calc_square(arr)

calculate square numbers
square: 4
square: 25
square: 49
square: 81

In [169]:
calc_cube(arr)

calculate cube of numbers
cube: 8
cube: 125
cube: 343
cube: 729

In [170]:
print("done in: ",time.time()-t)
print("completed my way to work!")

done in:  25.746253967285156
completed my way to work!

In [171]:
import threading
t = time.time()

t1 = threading.Thread(target=calc_square, args=(arr,))
t2 = threading.Thread(target=calc_cube, args=(arr,))

In [172]:
t1.start()
t2.start()

t1.join()
t2.join()

print("done in: ",time.time()-t)
print("completed my way to work!")

calculate square numberscalculate cube of numbers

cube: 8
square: 4
cube: 125
square: 25
cube: 343
square: 49
cube: 729
square: 81
done in:  15.436661958694458
completed my way to work!