## List Comprehensions

In [2]:
# List Comprehensions and Readability 

# Build a list of Unicode codepoints from a string in ordinary way 
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
     codes.append(ord(symbol))
codes

[36, 162, 163, 165, 8364, 164]

In [3]:
# Alternative way to perform the above Unicode using List comprehension
symbols = '$¢£¥€'
codes = [ord(symbol) for symbol in symbols] 
codes

[36, 162, 163, 165, 8364]

## Dictionary Comprehension

In [64]:
##Let's see how the same probem can be solved using a for loop and dictionary comprehension
##We want to create a new dictionary where the key is a number divisible by 2 in a range of 0-10 and it's value is the square of the number.
numbers = range(10)
new_dict_for = {}

# Add values to `new_dict` using for loop
for n in numbers:
    if n%2==0:
        new_dict_for[n] = n**2

print(new_dict_for)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [65]:
# Use dictionary comprehension
new_dict_comp = {n:n**2 for n in numbers if n%2 == 0}

print(new_dict_comp)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [66]:
##Another example

dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
dict1_keys = {k*2:v*2 for (k,v) in dict1.items()}
print(dict1_keys)

{'aa': 2, 'bb': 4, 'cc': 6, 'dd': 8, 'ee': 10}

### Enumerate

In [67]:
##enumerate() works in Python-- it gives index and element of the data structure
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)

print(type(enumerateGrocery))
list(enumerateGrocery)

<class 'enumerate'>

[(0, 'bread'), (1, 'milk'), (2, 'butter')]

In [68]:
##changing the default starting index
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

[(10, 'bread'), (11, 'milk'), (12, 'butter')]

### Zip and Unzip

In [69]:
##Python code to demonstrate the working of  zip()
# initializing lists 
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as set 
mapped = set(mapped) 
  
# printing resultant values  
print ("The zipped result is : ",end="") 
print (mapped)

The zipped result is : {('Astha', 2, 70), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Manjeet', 4, 40)}

In [71]:
# unzipping values 
namz, roll_noz, marksz = zip(*mapped) 
  
print ("The unzipped result: \n",end="") 
print ("The name list is : ",end="") 
print (namz) 
print ("The roll_no list is : ",end="") 
print (roll_noz) 
  
print ("The marks list is : ",end="") 
print (marksz)

The unzipped result:
The name list is : ('Astha', 'Nikhil', 'Shambhavi', 'Manjeet')
The roll_no list is : (2, 1, 3, 4)
The marks list is : (70, 50, 60, 40)

# Generator Expressions

In [4]:
# Expression Generator 

symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols) 
import array as a
a.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

## Ellipsis

In [75]:
import numpy
n = numpy.arange(16).reshape(2, 2, 2, 2)
print(n)
print('**********')
n[1,...,1]  # equivalent to n[1,:,:,1]

[[[[ 0  1]
   [ 2  3]]

  [[ 4  5]
   [ 6  7]]]


 [[[ 8  9]
   [10 11]]

  [[12 13]
   [14 15]]]]
**********

array([[ 9, 11],
       [13, 15]])

In [74]:
 # also Ellipsis object can be used interchangeably
n[1, Ellipsis, 1]

array([[ 9, 11],
       [13, 15]])

# Augmented Assignments with Sequences

In [6]:
# Augumented assignment operators with *=
# id of lists 
l = [1,2,3]
print(id(l), l)
# ID of list will not change jsut append the values to the same ID
l *= 2 # Eql to L*2
print(id(l),l)

2038229152584 [1, 2, 3]
2038229152584 [1, 2, 3, 1, 2, 3]

In [8]:
# Augumented assignment operators with *=
t = (1,2,3)
print(id(t),t)
# ID of the tuple will change insteead of appending the values to the same ID 
t *= 2
print(id(t),t)

2038229779872 (1, 2, 3)
2038229716040 (1, 2, 3, 1, 2, 3)

# Built-in Sort Functions

In [9]:
animals = ['dog', 'cat', 'sheep', 'goat']
# Assending order with alphaabet 
sorted(animals)

['cat', 'dog', 'goat', 'sheep']

In [10]:
# Desending order with alphabet 
sorted(animals, reverse = True)

['sheep', 'goat', 'dog', 'cat']

In [11]:
# Assending order with respect to length of the character
sorted(animals, key = len, reverse = True)

['sheep', 'goat', 'dog', 'cat']

In [12]:
# Desending order with respect to length of the character 
sorted(animals, key = len)

['dog', 'cat', 'goat', 'sheep']

In [13]:
# Built in Function for sort
animals.sort()
animals

['cat', 'dog', 'goat', 'sheep']

# Arrays, Memory Views, Deques

In [80]:
import array
numbers = array.array('h', [-2, -1, 0, 1, 2]) 
numbers

array('h', [-2, -1, 0, 1, 2])

In [81]:
memv = memoryview(numbers) # Build memory View from signed array
print(len(memv)) # length of an array 
memv

5

In [82]:
memv.tolist()

[-2, -1, 0, 1, 2]

In [79]:
memv_oct = memv.cast('B') # unassigned operator 
print(memv_oct, numbers)
memv_oct.tolist() # Export elements to list

<memory at 0x000001DA96485C48> array('h', [-2, -1, 0, 1, 2])

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]

In [23]:
memv_oct[5] = 4 # Convert an array to list to view 
numbers

array('h', [-2, -1, 1024, 1, 2])

# Handling Missing Keys

In [24]:

# initializing Dictionary 
d = { 'a' : 1 , 'b' : 2 } 
  
# trying to output value of absent key  
print ("The value associated with 'c' is : ") 
print (d['c'])

The value associated with 'c' is :

KeyError: 'c'

In [27]:
# We need to handle these kind of errors  
# importing "collections" for defaultdict 
import collections as cl
  
# declaring defaultdict 
# sets default value 'Key Not found' to absent keys 
defd = cl.defaultdict(lambda : 'Key Not available') 
# initializing values  
defd['a'] = 1
  
# initializing values  
defd['b'] = 2
  
# printing value  
print ("The value of 'a' is : ",end="") 
print (defd['a']) 
  
# printing value associated with 'c' 
print ("The value of 'c' is : ",end="") 
print (defd['c'])

The value of 'a' is : 1
The value of 'c' is : Key Not available

## Function annotations

In [ ]:
#Function annotations are arbitrary python expressions that are associated with various part of functions. 
#Annotations for simple parameters :def foobar(a: expression, b: expression = 5):
#Annotations for excess parameters :def foobar(*args: expression, *kwargs: expression):
#Annotations for nested parameters :def foobar((a: expression, b: expression), (c: expression, d: expression)):
#Annotations for return type :def foobar(a: expression)->expression:

In [83]:
#Accessing Function Annotations
# Python program to illustrate Function Annotations 
def fib(n:'int', output:'list'=[])-> 'list': 
    if n == 0: 
        return output 
    else: 
        if len(output)< 2: 
            output.append(1) 
            fib(n-1, output) 
        else: 
            last = output[-1] 
            second_last = output[-2] 
            output.append(last + second_last) 
            fib(n-1, output) 
        return output 
print(fib.__annotations__)

{'n': 'int', 'output': 'list', 'return': 'list'}

In [84]:
# Python program to illustrate Function Annotations 
import inspect 
def fib(n:'int', output:'list'=[])-> 'list': 
    if n == 0: 
        return output 
    else: 
        if len(output)< 2: 
            output.append(1) 
            fib(n-1, output) 
        else: 
            last = output[-1] 
            second_last = output[-2] 
            output.append(last + second_last) 
            fib(n-1, output) 
        return output 
print(inspect.getfullargspec(fib))

FullArgSpec(args=['n', 'output'], varargs=None, varkw=None, defaults=([],), kwonlyargs=[], kwonlydefaults=None, annotations={'return': 'list', 'n': 'int', 'output': 'list'})

## Higher order functions

In [85]:
#Returning function
# Python program to illustrate functions  
# Functions can return another function  
    
def create_adder(x):  # return a function from another function
    def adder(y):  
        return x + y  
    
    return adder  
    
add_15 = create_adder(15)  
    
print(add_15(10))

25

In [86]:
#Functions as arguments
def summation(nums): # normal function
    return sum(nums)

def main(f, *args): # function as an argument
    result = f(*args)
    print(result)

if __name__ == "__main__": #pass functions as one of the arguments to another function
    main(summation, [1,2,3])

6

# Functional Programming Packages

## Procedural vs Functional

Procedural**  procedural style relies on procedure calls to create modularized code. This approach simplifies your application code by breaking it into small pieces that a developer can view easily. Even though procedural coding is an older form of application development, it’s still a viable approach for tasks that lend themselves to step-by-step execution.

In [88]:
#Procedural coding style
my_list = [1, 2, 3, 4, 5]
def do_add(any_list):
    sum = 0
    for x in any_list:
        sum += x
    return sum
print(do_add(my_list))

15

Functional:** Every statement is treated as a mathematical equation and any forms of state or mutable data are avoided. The main advantage of this approach is that it lends itself well to parallel processing because there is no state to consider. Many developers prefer this coding style for recursion and for lambda calculus. (Note that Python’s implementation of functional programming deviates from the standard—read, is impure— because it’s possible to maintain state and create side effects if you’re not careful.

In [89]:
#Functional coding style
import functools
my_list = [1, 2, 3, 4, 5]
def add_it(x, y):
    return (x + y)
sum = functools.reduce(add_it, my_list)
print(sum)

15

### Pure Functions :


Are functions without side effects, like mathematical functions.
For the same input the functions always returns the same output.
The result of any function call is fully determined by its arguments.

Pure functions don't rely on global variable and don't have internal states.
They don't do IO, i.e .:. don't print, don't write a file …
Pure functions are stateless
Pure functions are deterministic

In [90]:
def min(x, y): #To Find the Minimum value min(Argument 1 , Argument 2)
    if x < y:
        return x
    else:
        return y
min(5,3)

3

## lambda

In [41]:
# Defining the lambda function 

s = lambda x: x * x
s(12)

144

## map()

In [92]:
#map()
val = [1, 2, 3, 4, 5, 6]
list(map(lambda x: x * 2, val))

[2, 4, 6, 8, 10, 12]

In [96]:
#filter() -- used to check the condition
val1 = [1, 2, 3, 4, 5, 6]
list(filter(lambda x: x % 2, val1))

[1, 3, 5]

## reduce()

In [94]:
from functools import reduce 
reduce(lambda x, y: x * y, val)

720

## Identify, Equality & References

In [44]:
data = [10,20,30]
my_data = [10,20,30]

if  data is my_data: 
    print("Yes") 
else: 
    print("No")

No

In [45]:
# create another reference x3 to same list. 
df = data 

if  data is df: 
    print("Yes") 
else: 
    print("No")

Yes

In [46]:
# Let us try to use comparitive operative 
if  data == df: 
    print("Yes") 
else: 
    print("No")

Yes

In [47]:
 # Alternative way to run above code
data = [10,20,30]   
df = list(data)

if  data == df: 
    print("Yes") 
else: 
    print("No")

Yes

## Loop vs Comprehension vs map

In [97]:
list1=[1,2,3,4,5]
squares1=[]

#Loop
for i in list1:
    squares1.append(i**2)
    
#Comprehension
squares2=[i**2 for i in list1]

#map
squares3=list(map(lambda x:x**2,list1))

squares1, squares2,squares3

([1, 4, 9, 16, 25], [1, 4, 9, 16, 25], [1, 4, 9, 16, 25])

# MySQL DB connection with Python

### Connecting to MySQL

In [98]:
# importing package 
import mysql.connector as sql

#connecting to mysql database
mydb = sql.connect(
  host="localhost",
  user="root",
  passwd="mysqldatascience",
  auth_plugin='mysql_native_password'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DA975F2780>

### creating database schema

In [100]:
mycursor = mydb.cursor()

#Create Database
mycursor.execute("CREATE DATABASE EMP")

### connectin to the database schema created

In [101]:
# Connecting to Database created
mydb = sql.connect(
  host="localhost",
  user="root",
  passwd="mysqldatascience",
  database = 'EMP',
  auth_plugin='mysql_native_password'
)
print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DA975F2B38>

### creating table

In [102]:
#creating table
mycursor.execute("CREATE TABLE HR \
                 (Emp_no int primary key, Emp_name varchar(20), \
                 Emp_desig varchar(20), Emp_contact int)")

### Inserting data into the table

In [103]:
#Inseting values into Table
SQL_Insert = "INSERT INTO HR(Emp_no, Emp_name, Emp_desig, Emp_contact) \
                VALUES (%s,%s,%s,%s)"
                
SQL_Insert_values = [ ('1','abc','hr','123456'),
                      ('2','abc1','hr','12345678'),
                      ('3', 'abc2','hr','1234567')
                    ]
                
mycursor.executemany(SQL_Insert,SQL_Insert_values)

mydb.commit() #commit() is used to save changes to database

In [54]:
print(mycursor.rowcount,"rows were inserted")

3 rows were inserted

### Creating another table

In [104]:
#Creating another table Finance
mycursor.execute("CREATE TABLE FINANCE \
                 (Tax_No int primary key AUTO_INCREMENT, \
                 Emp_no int unique,\
                 Salary float)")

### Inserting data

In [105]:
#Inserting values into Finance Table
SQL_Insert_Finance = "INSERT INTO FINANCE(Emp_no,Salary) VALUES (%s,%s)" 

SQL_Insert_Values_Finance = [(1,10.5),
                             (2,11.5),
                             (3,12.5)
                            ]

mycursor.executemany(SQL_Insert_Finance,SQL_Insert_Values_Finance)

mydb.commit() #commit() is used to save changes

print(mycursor.rowcount,"rows were updated")

3 rows were updated

### Selecting data

In [118]:
# Condition -- where cluase or where conditions

SQL_where = "SELECT * from HR WHERE Emp_no > 1"

mycursor.execute(SQL_where)

SQL_where_results = mycursor.fetchall()

for x in SQL_where_results:
    print(x)

(2, 'abc1', 'hr', 12345678)
(3, 'abc2', 'hr', 1234567)

In [119]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(3, 3, 12.5)

In [106]:
# INNER Join Functions

SQL_join = "SELECT A.Emp_name, A.Emp_desig, B.Salary \
            from HR as A \
            Inner join FINANCE as B\
            on A.Emp_no = B.Tax_no"
            
mycursor.execute(SQL_join)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

('abc', 'hr', 10.5)
('abc1', 'hr', 11.5)
('abc2', 'hr', 12.5)

In [61]:
# OUTER Join Functions

SQL_join_cross = "SELECT *  \
            from HR \
            CROSS join FINANCE "
            
mycursor.execute(SQL_join_cross)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

(1, 'abc', 'hr', 123456, 1, 1, 10.5)
(2, 'abc1', 'hr', 12345678, 1, 1, 10.5)
(3, 'abc2', 'hr', 1234567, 1, 1, 10.5)
(1, 'abc', 'hr', 123456, 2, 2, 11.5)
(2, 'abc1', 'hr', 12345678, 2, 2, 11.5)
(3, 'abc2', 'hr', 1234567, 2, 2, 11.5)
(1, 'abc', 'hr', 123456, 3, 3, 12.5)
(2, 'abc1', 'hr', 12345678, 3, 3, 12.5)
(3, 'abc2', 'hr', 1234567, 3, 3, 12.5)

### Update the data

In [116]:
# Where Condition

SQL_salary = "UPDATE FINANCE SET Salary=11 WHERE Salary = 11.5"
mycursor.execute(SQL_salary)

mydb.commit()

In [117]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(3, 3, 12.5)

### Delete the data

In [130]:
# rollback()-- it won't allow the execution of command

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"  #deleting salary data if >=11.5
mycursor.execute(SQL_salary)
mydb.rollback()
mydb.commit()

In [131]:
# Testing of rollback

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

    
# We still get the record of salary>=11.5 as we have used rollback() earlier which stopped the deletion

(3, 3, 12.5)

In [132]:
# Without rollback

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"
mycursor.execute(SQL_salary)
mydb.commit()

In [133]:
SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)