Fantaloons Sales managers commented that % of males versus females
walking into the store differ based on day of the week. Analyze the data
and determine whether there is evidence at 5 % significance level to
support this hypothesis.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [2]:
# Importing the dataset
dataset = pd.read_csv('C:/Users/vaibh/Desktop/360 Digitmg/Hypothesis Testing/Assignment/Fantaloons.csv')
dataset.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [3]:
# Dataset shape
dataset.shape

(425, 2)

In [4]:
# Checking for null values
dataset.isnull().sum()

Weekdays    25
Weekend     25
dtype: int64

There are 25 null values

In [5]:
dataset.tail(26)

    Weekdays Weekend
399   Female  Female
400      NaN     NaN
401      NaN     NaN
402      NaN     NaN
403      NaN     NaN
404      NaN     NaN
405      NaN     NaN
406      NaN     NaN
407      NaN     NaN
408      NaN     NaN
409      NaN     NaN
410      NaN     NaN
411      NaN     NaN
412      NaN     NaN
413      NaN     NaN
414      NaN     NaN
415      NaN     NaN
416      NaN     NaN
417      NaN     NaN
418      NaN     NaN
419      NaN     NaN
420      NaN     NaN
421      NaN     NaN
422      NaN     NaN
423      NaN     NaN
424      NaN     NaN

In [6]:
# Removing null values
dataset.dropna(inplace=True)

In [7]:
dataset.shape

(400, 2)

Null values removed

In [8]:
# Checking for descriptive statistics
dataset.describe().T

         count unique     top freq
Weekdays   400      2  Female  287
Weekend    400      2  Female  233

In [9]:
# Value counts 
print (f'Weekdays: \n{dataset.Weekdays.value_counts()}\n')
print (f'Weekend: \n{dataset.Weekend.value_counts()}')

Weekdays:
Female    287
Male      113
Name: Weekdays, dtype: int64

Weekend:
Female    233
Male      167
Name: Weekend, dtype: int64

In [10]:
# Using Female Male counts 
data = [[287,233],
       [113,167]]

In [11]:
# Chi-Squared Test 

stats, p, dof, expected = scipy.stats.chi2_contingency(data)
stats, p, dof, expected

(15.434065934065934,
 8.54342267020237e-05,
 1,
 array([[260., 260.],
        [140., 140.]]))

H0 ---> Percentage of male-female is same

Ha ---> Percentage of male-female is different

The p-value for the chi-squared test 0.000085 is less than the significance value of 0.05

Hence, we reject the null hypothesis

The percentage of males versus females walking into the store differ based on day of the week