                                                                                                            Vaibhav Chaudhari
                                                                                                            DSWDEOS-280422

## Assignment Module 1 :- Data Types

Q1.Construct 2 lists containing all the available data types (integer, float, string, complex and Boolean) and do the following..

a.Create another list by concatenating above 2 lists

b.Find the frequency of each element in the concatenated list.

c.Print the list in reverse order.

In [1]:
# Q1.Solution 

list1 = [2,3.76,'Hello',(2+3j),True];
list2 = [6,8.9,'360Digitmg',(7-6j),False];

# a. Concat
list3 = list1+list2
print('Concanated list: {}'.format(list3))

print('\n')
# b. frequency of each element in the concatenated list
for item in list3:
    freq = str(list3.count(item));
    print('Frequency of ' + str(item) + ' is: '+ freq)

print('\n')    
# c. list in reverse order
list3_rev = reversed(list3)
print('Reversed list: {}'.format(list(list3_rev)))

Concanated list: [2, 3.76, 'Hello', (2+3j), True, 6, 8.9, '360Digitmg', (7-6j), False]


Frequency of 2 is: 1
Frequency of 3.76 is: 1
Frequency of Hello is: 1
Frequency of (2+3j) is: 1
Frequency of True is: 1
Frequency of 6 is: 1
Frequency of 8.9 is: 1
Frequency of 360Digitmg is: 1
Frequency of (7-6j) is: 1
Frequency of False is: 1


Reversed list: [False, (7-6j), '360Digitmg', 8.9, 6, True, (2+3j), 'Hello', 3.76, 2]

.




Q2.Create 2 Sets containing integers (numbers from 1 to 10 in one set and 5 to 15 in other set)

a.Find the common elements in above 2 Sets.

b.Find the elements that are not common.

c.Remove element 7 from both the Sets.

In [2]:
# Q2. Solution
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10,11,12,13,14,15}

# a. Common element in set1 and set2
common = set1 & set2
print ('Elements common in both sets: {}'.format(common))

# b. Elements not common in set1 and set2
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print( 'Elements not common in both sets: {}'.format(difference1 | difference2 ))

# c. Remove element 7 from both the Sets
set1.remove(7)
print('After removing 7 from set1: {}'.format(set1))
set2.remove(7)
print('After removing 7 from set2: {}'.format(set2))

Elements common in both sets: {5, 6, 7, 8, 9, 10}
Elements not common in both sets: {1, 2, 3, 4, 11, 12, 13, 14, 15}
After removing 7 from set1: {1, 2, 3, 4, 5, 6, 8, 9, 10}
After removing 7 from set2: {5, 6, 8, 9, 10, 11, 12, 13, 14, 15}

.

Q3.Create a data dictionary of 5 states having state name as key and number of covid-19 cases as values.

a.Print only state names from the dictionary.

b.Update another country and it’s covid-19 cases in the dictionary.

In [3]:
# Q3. Solution
dict1 = {'Maharashtra':8000000,'Andra Pradesh':4500000,'Tamil Nadu':3500000,'Kerala':1500000,'Goa':250000 }

# a. Print only state names from the dictionary.
print(dict1.keys())

# b. Update another country and it’s covid-19 cases in the dictionary.
dict1['Delhi']=2700000
print(dict1)

dict_keys(['Maharashtra', 'Andra Pradesh', 'Tamil Nadu', 'Kerala', 'Goa'])
{'Maharashtra': 8000000, 'Andra Pradesh': 4500000, 'Tamil Nadu': 3500000, 'Kerala': 1500000, 'Goa': 250000, 'Delhi': 2700000}